.App {
    height: 100vh;
    background: center / cover no-repeat url('https://static.catapult.co/cdn-cgi/image/width=1170,height=658,dpr=2,fit=cover,format=auto/production/stories/34958/cover_photos/original/ffxiv_site_1655804822.jpg');
    background-attachment: fixed;
    overflow: auto;
}